<!doctype html>
<html lang="en">

<head>
  <title>PasswordKeepR - Your Organization's Password Manager</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

  <link rel="icon" type="image/png" sizes="32x32" href="/favicon_32x32.png">
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>

    <header class="navbar rounded-top bg-light" style="--bs-bg-opacity: .5; --bs-light-rgb: 218,218,202;">
      <div class="navbar-brand">
        <div><img class="logo" src="./images/passwordkeepr_logo.png" alt="PasswordKeepR"></div>
        <small class="text-muted">Your Organization's Password Manager</small>
      </div>
      <navigation class="navi">
        <div><img class="org-logo" src="./images/org-logo_01.png" alt="Company Logo 01"></div>
        <div>Welcome, John Doe! ${user_name}</div>
        <div class="menu"><a href="" >List All</a> | <a href="">Logout ></a></div>
        <button type="button" class="btn btn-success mt-2"><i class="bi bi-plus"></i> New Password</button>
      </navigation>
    </header> <!-- Will contain logo, etc -->
    <main class="bg-light" style="--bs-bg-opacity: .5; --bs-light-rgb: 218,218,202;">
      <!-- container for holding the tweets from the database -->
      <div id="container">

        <section class="password-item rounded shadow">
          <div class="website-name row">
            <h2>Facebook ${webName}</h2>
          </div>
          <div class="user-id row">
            <span class="col-2 p-1 text-end">User Name:</span>
            <span class="col p-1">${userId}</span>
            <span class="col p-1"><a href=""><i class="bi bi-copy"></i></a></span>
          </div>
          <div class="password row">
            <span class="col-2 p-1 text-end">Password:</span>
            <span class="col p-1">${password}</span>
            <span class="col p-1"><a href=""><i class="bi bi-copy"></i></a></span>
          </div>
          <div class="url row">
            <span class="col-2 p-1 text-end">URL:</span>
            <span class="col p-1"><a href="${url}">${url}</a></span>
          </div>
          <div class="category row">
            <span class="col-2 p-1 text-end">Category:</span>
            <span class="col p-1">${category}</span>
          </div>
          <div class="actions text-end">
            <button class="btn btn-warning shadow m-2" type="submit" value="edit"><i class="bi bi-pencil-square"></i> Edit</button>
            <button class="btn btn-danger shadow m-2" type="submit" value="delete"><i class="bi bi-trash3"></i> Delete</button>
          </div>
        </section>

        <section class="password-item rounded shadow">
          <h2>Edit / Create New Password</h2>
          <form id="form" class="row">
            <div class="col">
              <div class="website-name row">
                <div class="col-3 p-1 text-end"><label for="website-name">Website:</label></div>
                <div class="col-3"><input type="text" id="webName" name="webName"></div>
              </div>
              <div class="user-id row">
                <div class="col-3 p-1 text-end"><label for="user-name">User Name:</label></div>
                <div class="col-3"><input type="text" id="userName" name="userName"></div>
              </div>
              <div class="password row">
                <div class="col-3 p-1 text-end"><label for="password">Password:</label></div>
                <div class="col-3"><input type="text" id="password" name="password"></div>
              </div>
            </div>
            <div class="col">
              <div class="url row">
                <div class="col-3 p-1 text-end"><label for="url">URL:</label></div>
                <div class="col-3"><input type="text" id="url" name="url"></div>
              </div>
              <div class="category row">
                <div class="col-3 p-1 text-end"><label for="category">Category:</label></div>
                <div class="col-3"><input type="text" id="category" name="category"></div>
              </div>
            </div>
            <div class="actions text-end">
              <button class="btn btn-success shadow m-2" type="submit" value="Save"><i class="bi bi-floppy"></i> Save</button>
              <button class="btn btn-secondary shadow m-2" type="reset" value="Cancel"><i class="bi bi-exclamation-circle"></i> Cancel</button>
            </div>
          </form>
        </section>

      </div>

      </div>
    </main>
    <footer class="rounded-bottom bg-light" style="--bs-bg-opacity: .5; --bs-light-rgb: 218,218,202;">
      <div>Copyright 2023 | PasswordKeepR, LLC | Canada</div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>
