<!doctype html>
<html lang="en">

<head>
  <title>PasswordKeepR - Your Organization's Password Manager</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css" />

  <link rel="icon" type="image/png" sizes="32x32" href="/favicon_32x32.png" />
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script src="/scripts/copyToClipboard.js"></script>

  <script>
    $(document).ready(function(){
      $("#newPassword").hide();
      $("#newEntry").click(function(){
        $("#sectionHeader").text("Create New Password");
        $("#passwordForm").trigger("reset");
        $("#newPassword").toggle();
      });
      $("#closeMe").click(function(){
        $("#newPassword").toggle();
      });
    });



  </script>


</head>

<body>

    <header class="navbar rounded-top-4 bg-light row align-items-start" style="--bs-bg-opacity: .5; --bs-light-rgb: 218,218,202;">
      <div class="col">
        <div><a href="/" title="PasswordKeepR - Your Organization's Password Manager"><img class="logo" src="./images/passwordkeepr_logo.png" alt="PasswordKeepR"></a></div>
        <div>Your Organization's Password Manager</div>
      </div>
      <navigation class="navi text-end col">
        <div><a href="https://www.lighthouselabs.ca/" title="Light House Labs" target="_blank"><img class="org-logo" src="./images/org-logo_01.png" alt="Company Logo 01"></a></div>
        <div class="mt-3">Welcome, <%= user.name %>!</div>
        <div class="menu">
          <a href="#password-list" >List All</a> |
          <form action="/logout" method="post" style="display: inline;">
            <button type="submit" class="btn-link" style="border: none; padding: 0; background: none;">Logout</button>
          </form>
        </div>
        <button type="button" id="newEntry" class="btn btn-success shadow mt-3"><i class="bi bi-plus"></i> New Password</button>
      </navigation>
    </header>
    <main class="bg-light" style="--bs-bg-opacity: .5; --bs-light-rgb: 218,218,202;">
      <!-- container for holding the Edit/Add new password Form -->

        <section id="newPassword" class="rounded-3 bg-light-subtle shadow m-3 p-4">
          <div class="row">
            <h2 id="sectionHeader" class="col-11"></h2>
            <div class="col-1">
              <button id="closeMe" type="button" class="btn-close" aria-label="Close"></button>
            </div>
          </div>
          <form id="passwordForm" >
            <div class="row">
              <div class="website-name col-6">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="websiteName" placeholder="Website Name">
                  <label for="websiteName">Website Name</label>
                </div>
              </div>
              <div class="url col-6">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="url" placeholder="Website Address">
                  <label for="url">URL</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="user-id col-6">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="userName" placeholder="User Name" autocomplete="off">
                  <label for="userName">User Name</label>
                </div>
              </div>

              <div class="category col-6">
                <label for="categories" class="form-label">Category:</label>
                <input class="form-control" list="categoryOptions" id="categories" placeholder="Type to search...">
                <datalist id="categoryOptions">
                  <option value="Social">
                  <option value="Work Related">
                  <option value="Entertainment">
                  <option value="Finance">
                  <option value="Health and Fitness">
                  <option value="Education">
                </datalist>
              </div>
            </div>
            <!-- random password generator area -->
            <div class="border border-light rounded p-3 mt-2">
              <div class="row">
                <div class="password col-6">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="outputPassword" placeholder="Password">
                    <label for="outputPassword">Password:</label>
                  </div>
                </div>
                <div class="col-6">
                  <label for="passwordRange" class="form-label">Number of Characters: <span id="count"> 8</span></label>
                  <input type="range" class="form-range" id="passwordRange" value="8" min="8" max="30">
                  <script>
                    var slider = document.getElementById("passwordRange");
                    var output = document.getElementById("count");
                    output.innerHTML = slider.value; // Display the default slider value

                    // Update the current slider value (each time you drag the slider handle)
                    slider.oninput = function() {
                      output.innerHTML = this.value;
                    }
                    </script>
                </div>
              </div>
              <div class="row ps-5">
                <div class="form-check form-switch col-3">
                  <input class="form-check-input" type="checkbox" role="switch" value="" id="allCaps" checked>
                  <label class="form-check-label" for="allCaps">
                    ABCDE
                  </label>
                </div>
                <div class="form-check form-switch col-3">
                  <input class="form-check-input" type="checkbox" role="switch" value="" id="numbers" checked>
                  <label class="form-check-label" for="numbers">
                    12345
                  </label>
                </div>
                <div class="form-check form-switch col-3">
                  <input class="form-check-input" type="checkbox" role="switch" value="" id="no-duplicates">
                  <label class="form-check-label" for="no-duplicates">
                    no duplicates
                  </label>
                </div>
              </div>
              <div class="row ps-5">
                <div class="form-check form-switch col-3">
                  <input class="form-check-input" type="checkbox" role="switch" value="" id="lowerCase" checked>
                  <label class="form-check-label" for="lowerCase">
                    abcde
                  </label>
                </div>
                <div class="form-check form-switch col-3">
                  <input class="form-check-input" type="checkbox" role="switch" value="" id="symbols">
                  <label class="form-check-label" for="symbols">
                    !@#$%
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="button" id="randomize" onclick="generate()" class="btn btn-warning shadow m-2"><i class="bi bi-lightning-charge-fill"></i> RANDOMIZE!</button>
                </div>
              </div>
            </div>

            <div class="row text-center">
              <div class="actions col">
                <button class="btn btn-success shadow m-2 ps-3 pe-4" type="submit" value="Save"><i class="bi bi-floppy ps-2 pe-2"></i> Save</button>
                <button class="btn btn-secondary shadow m-2 ps-3 pe-4" type="reset" value="Cancel"><i class="bi bi-exclamation-circle ps-2 pe-2"></i> Cancel</button>
              </div>
            </div>
          </form>
        </section>



      <!-- container for holding the passwords from the database -->
      <div class="ms-4">
        <h1 class="mainList">Passwords List</h1>
      </div>
      <div id="password-list">


      </div>

    </main>
    <footer class="rounded-bottom-4 bg-light text-center" style="--bs-bg-opacity: .5; --bs-light-rgb: 218,218,202;">
      <div>Copyright 2023 | PasswordKeepR, LLC | Canada</div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script>
  function generate() {
    // get references of all the inputs
    const length = document.getElementById("passwordRange").value;
    const useUppercase = document.getElementById("allCaps").checked;
    const useLowercase = document.getElementById("lowerCase").checked;
    const useNumbers = document.getElementById("numbers").checked;
    const useSymbols = document.getElementById("symbols").checked;
    const excludeDuplicates = document.getElementById("no-duplicates").checked;

    // generate the random password
    const password = generatePassword(parseInt(length), useUppercase, useLowercase, useNumbers, useSymbols, excludeDuplicates)

    // show the password
    document.getElementById('outputPassword').value = password
  }



  function generatePassword(length, useUppercase, useLowercase, useNumbers, useSymbols, excludeDuplicates) {
  let charset = '';

  if (useUppercase) {
    charset += 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
  }

  if (useLowercase) {
    charset += 'abcdefghijklmnopqrstuvwxyz';
  }

  if (useNumbers) {
    charset += '0123456789';
  }

  if (useSymbols) {
    charset += '!@#$%^&*()-_+=<>?';
  }

  let password = [];
  let usedChars = [];

  if (excludeDuplicates && length > charset.length) {
    console.error('Password length exceeds the available character set. Unable to generate a unique password.');
    return '';
  }

  for (let i = 0; i < length; i++) {
    let randomChar = charset.charAt(Math.floor(Math.random() * charset.length));

    if (excludeDuplicates) {
      while (usedChars.includes(randomChar)) {
        randomChar = charset.charAt(Math.floor(Math.random() * charset.length));
      }
      usedChars.push(randomChar);
    }

    password.push(randomChar);
  }

  return password.join('');

}
</script>

<!-- SMOOTH SCROLL -->
<a href="" class="scrollup float-right">
  <i class="bi bi-arrow-up-square"></i>
</a>

<script>
  $(window).scroll(function() {
  if ($(this).scrollTop() > 600) {
    $(".scrollup").fadeIn();
  } else {
    $(".scrollup").fadeOut();
  }
  })
  $(".scrollup").click(function() {
    $("html, body").animate({
      scrollTop: 0
    }, 600);
    return false;
  })
</script>

<script>
    /* JQuery UI Sortable */

    $(function () {
      $("#password-list").sortable();
      $("#password-list").sortable({
        forceHelperSize: true
      });
      // Getter
      var forceHelperSize = $( "#password-list" ).sortable( "option", "forceHelperSize" );

      // Setter
      $( "#password-list" ).sortable( "option", "forceHelperSize", true );
    });

</script>

</body>

</html>
