<!doctype html>
<html lang="en">

<head>
  <title>PasswordKeepR - Your Organization's Password Manager</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

  <link rel="icon" type="image/png" sizes="32x32" href="/favicon_32x32.png">
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/login.js"></script>
</head>

<body>

    <header class="login rounded-top-4 bg-light text-center pt-4" style="--bs-bg-opacity: .5; --bs-light-rgb: 218,218,202;">
      <div class="navbar-brand container justify-content-center flex-column">
        <div><img class="logo" src="./images/passwordkeepr_logo.png" alt="PasswordKeepR"></div>
        <small class="text-muted">Your Organization's Password Manager</small>
      </div>
    </header>
    <main class="login bg-light" style="--bs-bg-opacity: .5; --bs-light-rgb: 218,218,202;">

      <div class="container justify-content-center flex-column mt-5">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-secondary px-4">LOGIN</button>
        </div>
      </div>

    </main>
    <footer class="login rounded-bottom-4 bg-light text-center" style="--bs-bg-opacity: .5; --bs-light-rgb: 218,218,202;">
      <div>Copyright 2023 | PasswordKeepR, LLC | Canada</div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>
