// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

header.navbar  {
  min-width: 900px;
  padding: 2em;
  background-color: #DADACA;
}

main {
  min-width: 900px;
  padding: 1em;
  background-color: #DADACA;
}

.container {
  min-width: 90%;
}

#password-list {
  max-width: 900px;
}

.password-item {
  min-width: 80%;
  padding: 2em;
  margin: 1em;
  background-color: #FFF;
}

footer {
  min-width: 900px;
  padding: 2em;
  background-color: #DADACA;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

/* login styles */

header.login {
  min-width: 500px;;
}

main.login {
  min-width: 500px;;
}

footer.login {
  min-width: 500px;;
}
