@import "../node_modules/bootstrap/scss/bootstrap";


body {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 100vh;
  background-image: url("/images/scott-webb-hDyO6rr3kqk-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 2em;
}

.logo {
  width: 250px;
}

.org-logo {
  width: 250px;
}

.bi {
  color: rgb(255, 255, 255);
}

.bi-copy,
.bi-pencil-square {
  color: #575757;
  padding: 0.5em;
  margin: 0 1em;
}

.bi-copy:hover,
.bi-pencil-square:hover {
  cursor: pointer;
  color: blue;
}

.bi-trash3 {
  color: #575757;
  padding: 0.5em;
  margin: 0 1em;
}

.bi-trash3:hover {
  color: red;
}

h1.mainList {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
  color: #69784a;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.bi-arrow-up-square {
  font-size: 50px;
  text-shadow: rgb(44, 44, 44) 1px 0 10px;
}

.bi-arrow-up-square:hover {
  color: #ffc800;
}

.scrollup {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
  padding: 10px;
  z-index: 100;
  display: none;
}

button.btn-success {
  background-color: #69784a;
  border-color: #69784a;
}

button.btn-success:hover {
  background-color: #4c631e;
  border-color: #4c631e;
}

button.btn-secondary {
  background-color: #898989;
  border-color: #898989;
}
