@import "../node_modules/bootstrap/scss/bootstrap";


body {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 100vh;
  background-image: url("/images/scott-webb-hDyO6rr3kqk-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2em;
}

.bi {
  color: rgb(108, 108, 108);
}

.bi:hover {
  color: rgb(0, 72, 255);
  cursor: pointer;
}

td > i {
  float: right;
  padding: 0 0.7em;
}
