@import "../node_modules/bootstrap/scss/bootstrap";


body {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 100vh;
  background-image: url("/images/scott-webb-hDyO6rr3kqk-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 2em;
}

.logo {
  width: 250px;
}

.org-logo {
  width: 250px;
}

.bi {
  color: rgb(255, 255, 255);
}

.bi-copy,
.bi-pencil-square {
  color: #575757;
  padding: 0.5em;
  margin: 0 1em;
}

.bi-copy:hover,
.bi-pencil-square:hover {
  cursor: pointer;
  color: blue;
  padding: 0.5em;
}

.bi-trash3 {
  color: red;
  padding: 0.5em;
  margin: 0 1em;
}
